*{
    margin:0;
}
html {
	font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	background-color: #79D6E5; /*#93DFFF*/
  }
/*Template Themes*/
  #contenuChap {
      text-align: left
  }
  table  {
        margin : auto  }
  .TitresTableau {
      text-align: center;
      font-weight: 500;      
  }
  .titreThème {
      text-align: center ; 
  }
  .titreChapitre {
      list-style: none;
      text-align: center; 
  }
  @-ms-viewport {
	width: device-width;
  }

  ul, li {
	text-align: center;
  }

  td {
	vertical-align: top;	  
  }

  body {
	height: 100%;
	width:100%;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: center;
	background-repeat: no-repeat;
  }
  
  [tabindex="-1"]:focus {
	outline: 0 !important;
  }

  h1, h2{
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
  }

  h1{
	font-size: 2.5rem;
  }

  h2{
	font-size: 2rem;
  }

#repqu{
	font-size: 1.9rem;
}

#qu{
	font-size: 2.6rem;
}

.lancerQCM,.button ,.buttonRep, .lancerQCMaléatoire {
  background-color: #2ab3c8; 
  border: none;
  color: black;
  padding: 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  border: 2px solid #208190;
}

  img {
	vertical-align: middle;
	border-style: none;
	margin:0;
  }

  div.logo img {
	  height: 10%;
	  width: 10%;
  }

/*Ici, on met le mot de classe rouge en rouge*/
.rouge{
	color : red;
}


.button1 {
	background-color: #AD0E0E; 
	border-radius: 70%;
	display: inline-block;
	font-weight: 400;
	color : rgb(62,62,62);
	text-align: center;
	vertical-align: middle;
	user-select: none;
	padding: 2rem 1rem;
	font-size: 100px;
	line-height: 1.5;
	width : 16%; /*permet d'avoir un bouton rond*/
	cursor: pointer;
}
  
	
.button2 {
	background-color: green;
	border-radius: 70%;
	display: inline-block;
	font-weight: 400;
	color : rgb(62,62,62);
	text-align: center;
	vertical-align: middle;
	user-select: none;
	padding: 2rem 1rem;
	font-size: 100px;
	line-height: 1.5;
	width : 16%; /*permet d'avoir un bouton rond*/
 };


 
/* 
hover : permet de changer de couleur au survol du boutton NORMALEMENT ! 
*/

.button1 {
  transition-duration: 0.4s;
}

.button1:hover {
  background-color: #f4c5c5;
  color: red; 
}

.button2 {
  transition-duration: 0.4s;
}

.button2:hover {
  background-color: #d7f6e5;
  color: green;
}
	

	
button:focus {
	outline: 1px dotted;
	outline: 5px auto -webkit-focus-ring-color;
}
  
 nav ul li {
	list-style: none;
	display: inline;
	padding:20px 40px 4px 10px;
	text-align: center;
	margin: auto;
  }

 nav ul li a{
	 color: rgb(255, 255, 255);
	  text-decoration: none;
	  text-align: center;
	  }              
          
  nav {
	  background-color: #00809D;
	  display: block;
}

  ul.presentation li{
      width: 200px;
  list-style: none;
  margin: 0;
  padding: 0.5em;
  }

  ul.presentation li:hover{
	background-color:#00809D;
	color: white;
}

 
/*
permet d'adapter le texte en fonction de la taille de l'écran
*/

@media all and (max-device-width: 480px)
{
    #bloc_page
	{width: auto;}

}





/*#hamburger, #hamburger-content{
	display: inline;

}*/
  

/*#hamburger-button{
	cursor: pointer;
	background: none;
	border: none;
	font-size: 30px;
	padding: 0;
	vertical-align: top;
	line-height: 47px;
	float: right;
	margin-right: 32px;
}

#hamburger-overlay {
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
}

#hamburger-sidebar{
	position: fixed;
	width: 84%;
	z-index: 20;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #FFF;
	transform: translateX(-100%);
	transition: transform .2S ease-out;

}

#hamburger-sidebar li {
	display: block;
}

#hamburger-sidebar-header {
	background: url(../Images/menu-burger-background.jpg) center;
	background-size: cover;
	height: 300px;
}

#hamburger-sidebar-body{
	padding: 16px 8px;
}

#hamburger-sidebar-body li:before {
	content: ' ';
	display: inline-block;
	vertical-align: middle;
	width: 24px;
	height: 24px;
	margin-right: 16px;
	margin-bottom: 4px;
}



/* 
permet de changer le bouton et le texte lors de l'affichage sur téléphone
*/



@media screen and (max-width: 1024px) {

	.button1{
		background-color: #cf0505; 
		border-radius: 12px;
		display: inline-block;
		color : rgb(37, 37, 37);
		text-align: center;
		vertical-align: middle;
		user-select: none;
		cursor: pointer;
		padding: 2rem 1rem;
		font-size: 60px;
		line-height: 1;
		width : 33%;
	}

		
	
	h2 {
		margin-top: 0;
		margin-bottom: 0.5rem;
		font-weight: 500;
		line-height: 1.2;
		font-size: 30px;
	}	

	h1 {
		font-size: 42px;
		line-height: 56px;
	}

	/*#hamburger-content {
	display: none;
	}*/


}


/* partie affiche urgence */


.boutonReponse{
	background-color: #c5b9e7; 
	border-radius: 12px;
	display: inline-block;
	color : rgb(37, 37, 37);
	text-align: center;
	vertical-align: middle;
	user-select: none;
	cursor: pointer;
	padding: 1rem 1rem;
	font-size: 30px;
	line-height: 1;
	width : 33%;
}

.titresNoeud {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
	font-size: 2.5rem;
}


/* grille responsive : */

* {
	box-sizing: border-box;
  }

  .row::after {
	content: "";
	clear: both;
	display: table;
  }
  
  /* définition de la classe colonne et des 12 colonnes */

  [class*="col-"] {
	float: left;
	padding: 15px;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}




  
