<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Secouriste de poche</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css" />
    <link rel="shortcut icon" href="Images/heart-icon.ico" />
	div class="logo"><img src="../static/Images/logo ptut.png" alt="Logo du site"></div>
</head>

     <div class="logo"><img src="../static/Images/logo ptut.png" alt="Logo du site"></div>

    <h1>Urgence</h1>
    <nav>
        <div class="logo"><img src="Images/logo ptut.png" alt="Logo du site"></img></div>
        <ul>
            <li> <a href="/">Accueil</a></li>
            <li> <a href="/SecouristeDePoche/urgence">Urgence</a></li>
            <li> <a href="/SecouristeDePoche/themes">Me former</a></li>
            <li><a href="/SecouristeDePoche/entrainement">M'entraîner</a></li>
        </ul>
    </nav>
    
   
    <h2 id="repqu">Répondez aux questions suivantes pour trouver que faire dans votre situation</h2> 
    <h3 id="qu"> <em th:each="n:${noeuds}" th:if="${n.id == 1}" th:text="${n.texteQuestion}"></em></h3> 
	<br><button class= "button2">OUI</button> 
	&nbsp;
	&nbsp;
	&nbsp;
	&nbsp;
	&nbsp;
	<button class= 'button1'>NON</button></br>
	
	<!balise span permet de mettre le mot urgence en rouge>
</html>