<!DOCTYPE HTML>
<html>

<head>
    <title>Secouriste de poche</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css" />
    <link rel="shortcut icon" href="Images/heart-icon.ico" />
	
</head>

<body>
    <h1>M'Entraîner</h1>
    <nav>
        <ul>
            <li> <a href="/SecouristeDePoche/accueil"> Accueil</a></li>
            <li> <a href="/SecouristeDePoche/urgence">Urgence</a></li>
            <li> <a href="/SecouristeDePoche/themes">Me former</a></li>
            <li><a href="/SecouristeDePoche/entrainement">M'entraîner</a></li>
        </ul>
    </nav>
    <div class="logo"><img src="Images/logo ptut.png" alt="Logo du site"></div>
    <div class="logo"><img src="Images/logo ptut.png" alt="Logo du site"></div>
    <p>Salut ! <br> Je suis ....., votre secouriste de poche !</p>
	
	
    <h2 id="bienv">Bienvenu sur votre espace d'entraînement !</h2> 
    
	<p> Ici, vous trouverez des QCM pour vérifier vos connaissances.Vous pouvez choisir des QCM sur des thèmes spécifiques
<br>
	ou bien répondre à des QCM aléatoires et être interrogé(e)s sur l'intégralité du programme traité sur le site. </p>
	
	<a href="" ><button id="lancerQCM"> Lancer un QCM aléatoire  </button> </a>
	
	<p> Ou séléctionnez un QCM dans l'un des thèmes suivants : </p>
	
	<p> <Strong>Thème 1</Strong> : L'Obstruction des voies aériennes </p> 
	
	<a href="" ><button id="lancerQCM"> Lancer un QCM aléatoire sur ce thème </button> </a>
	
	<p> <Strong>Thème 2</Strong> : L'Hémorragie </p> 
	
	<a href="" ><button id="lancerQCM"> Lancer un QCM aléatoire sur ce thème </button> </a>
	
	<p> <Strong>Thème 3</Strong> : L'Inconscience </p> 
	
	<a href="" ><button id="lancerQCM"> Lancer un QCM aléatoire sur ce thème </button> </a>
	
	<p> <Strong>Thème 4</Strong> : L'Arrêt cardio-respiratoire </p> 
	
	<a href="" ><button id="lancerQCM"> Lancer un QCM aléatoire sur ce thème </button> </a>
	
	<p> <Strong>Thème 5</Strong> : Le Malaise </p> 
	
	<a href="" ><button id="lancerQCM"> Lancer un QCM aléatoire sur ce thème </button> </a>
	
	<p> <Strong>Thème 6</Strong> : Brûlures et Plaies </p> 
	
	<a href="" ><button id="lancerQCM"> Lancer un QCM aléatoire sur ce thème </button> </a>
	
	<p> <Strong>Thème 7</Strong> : Le Trauma </p> 
	
	<a href="" ><button id="lancerQCM"> Lancer un QCM aléatoire sur ce thème </button> </a>
	
	<p> <Strong>Thème 8</Strong> : La Noyade </p> 
	
	<a href="" ><button id="lancerQCM"> Lancer un QCM aléatoire sur ce thème </button> </a>
	
	
<br>
<br>
<br>
<br>
    <div><img src="Images/ptut num urgences.png" alt="Numéros d'urgence"></div>
	
	
	

</body>

</html>
