<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Liste des thèmes</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css" />
    </head>

    <body>
        <h2 id="bienv">Bienvenu sur votre espace de formation !</h2> 
    
	<p> Vous faites le bon choix en venant ici, félicitation ! Dans la vie, il y a certaines choses que tout le monde devrait connaître, et la liste des premiers secours en fait partie. </p>
	
	<!balise span permet de mettre le mot urgence en rouge>
        <h1>Les thèmes</h1>
        <ul>
            <li th:each="t: ${themes}" th:text="${t.titre}">Le titre du thème
                <ul>
                    <li th:each="c: ${t.chapitres}" th:text="${c.titre}">Le titre du chapitre</li>
                </ul>
            </li>
        </ul>
        <a th:href="@{/}" href="../static/index.html">Retour au menu</a>
    </body>

</html>