<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
    <title>Quizz</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/Images/heart-icon.ico" th:src="@{/Images/heart-icon.ico}" />
</head>
    <body>
        <h1>Secouriste de poche</h1>
    <nav>
        <ul>
            <li> <a href="/">Accueil</a></li>
            <li> <a href="/SecouristeDePoche/urgence">Urgence</a></li>
            <li> <a href="/SecouristeDePoche/themes">Me former</a></li>
            <li><a href="/SecouristeDePoche/entrainement">M'entraîner</a></li>
        </ul>
    </nav>

    <div class="logo"><img src="../static/Images/logo ptut.png" alt="Logo du site" th:src="@{/Images/logo ptut.png}" /></div>
    
    <h2 id="bienv">Bienvenue sur votre espace de formation !</h2>
    <br>
        
    </body>
</html>
