<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Me former</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" href="../static/css/style.css" />
    <link rel="shortcut icon" href="../static/Images/heart-icon.ico" th:src="@{/Images/heart-icon.ico}" />
</head>

<body>

    <div class="col-12">
        <div class="row no-padding">
    <h1>Secouriste de poche</h1>
        <nav>
            <ul>
                <li> <a href="/">Accueil</a></li>
                <li> <a href="/SecouristeDePoche/urgence">Urgence</a></li>
                <li> <a href="/SecouristeDePoche/themes">Me former</a></li>
                <li><a href="/SecouristeDePoche/entrainement">M'entraîner</a></li>
            </ul>
        </nav>
        </div>
    </div>

    <div class="col-12">
        <div class="logo"><img src="../static/Images/logo ptut.png" alt="Logo du site" th:src="@{/Images/logo ptut.png}" /></div>
        <h2 id="bienv">Bienvenue sur votre espace de formation !</h2>
        <br />
        <p> Vous faites le bon choix en venant ici, félicitation ! Dans la vie, il y a certaines choses que tout le monde
            devrait connaître, et les gestes de premiers secours en font partie. </p>
        <p id = "information" > Ici vous trouverez des fichiers, des vidéos et des explications pour vous permettre d'agir en situation
            d'urgence avant que les secours n'arrivent. <br /> Toutes ces informations sont triées par thèmes et
            chapitres pour vous y retrouver plus facilement. </p>
        <p> Nous cherchons toujours à nous améliorer, alors surtout n'hésitez pas à nous laisser des commentaires, des
            remarques<br />ou des questions que vous pourriez vous poser. </p>


        <h3 id="titre"></h3>
        <p id ="contenuChap"> </p>
        <div id= "sommaire">
            <table id="tableau">
                <tr class="TitresTableau">
                    </tr>
                <tr th:each="theme : ${themes}" >
                    <ul>
                        <br />
                    <li  class ="themes" th:text="${theme.titre}"  >Titre du thème</li> 
                        
                                <li class ="titreChapitre" th:each="chapitre : ${theme.chapitres}" th:text="${chapitre.titre}" >Titre du chapitre</li>            
                    </ul>    
                        
                </tr>
            </table>
        </div>
        <br /><button class="button" id="goBack"> Retour aux thèmes </button>
    <script type="text/javascript" src="/src/main/resources/js/Theme.js" th:src="@{/js/Theme.js}"></script>
</div>
</body>

</body>

</html>

